#Music
{
   text-align: center;
}
body
{
   background-color: #FFFFFF;
}
#wb_JavaScript1
{
   display: block;
   float: left;
   width: 100%;
   height: 23px;
   margin: 0;
}
.LayoutGrid2-grid-a, .LayoutGrid2-grid-b, .LayoutGrid2-grid-c, .LayoutGrid2-grid-d, .LayoutGrid2-grid-solo
{
   overflow: hidden;
}
.LayoutGrid2-block-a, .LayoutGrid2-block-b, .LayoutGrid2-block-c, .LayoutGrid2-block-d, .LayoutGrid2-block-e
{
   margin: 0;
   padding: 0;
   border: 0;
   float: left;
   min-height: 1px;
   box-sizing: border-box;
}
.LayoutGrid2-block-a
{
   clear: left;
}
ul.LayoutGrid2-grid-a, ul.LayoutGrid2-grid-b, ul.LayoutGrid2-grid-c, ul.LayoutGrid2-grid-d, ul.LayoutGrid2-grid-solo, li.LayoutGrid2-block-a, li.LayoutGrid2-block-b, li.LayoutGrid2-block-c, li.LayoutGrid2-block-d, li.LayoutGrid2-block-e 
{
   margin-left: 0;
   margin-right: 0;
   padding: 0;
   list-style: none;
}
.LayoutGrid2-grid-a > .LayoutGrid2-block-a, .LayoutGrid2-grid-a > .LayoutGrid2-block-b
{
   width: 50%;
}
.LayoutGrid2-grid-b > .LayoutGrid2-block-a, .LayoutGrid2-grid-b > .LayoutGrid2-block-b, .LayoutGrid2-grid-b > .LayoutGrid2-block-c
{
   width: 33.333%;
}
.LayoutGrid2-grid-c > .LayoutGrid2-block-a, .LayoutGrid2-grid-c > .LayoutGrid2-block-b, .LayoutGrid2-grid-c > .LayoutGrid2-block-c, .LayoutGrid2-grid-c > .LayoutGrid2-block-d
{
   width: 25%;
}
.LayoutGrid2-grid-d > .LayoutGrid2-block-a, .LayoutGrid2-grid-d > .LayoutGrid2-block-b, .LayoutGrid2-grid-d > .LayoutGrid2-block-c, .LayoutGrid2-grid-d > .LayoutGrid2-block-d, .LayoutGrid2-grid-d > .LayoutGrid2-block-e
{
   width: 20%;
}
.LayoutGrid2-grid-solo > .LayoutGrid2-block-a
{
   width: 100%;
   float: none; 
}
.LayoutGrid2-block-a
{
   text-align: center;
}
@media (max-width: 320px)
{
   .LayoutGrid2-responsive > .LayoutGrid2-block-a,
   .LayoutGrid2-responsive > .LayoutGrid2-block-b,
   .LayoutGrid2-responsive > .LayoutGrid2-block-c,
   .LayoutGrid2-responsive > .LayoutGrid2-block-d,
   .LayoutGrid2-responsive > .LayoutGrid2-block-e 
   {
      width: 100%;
      float: none;
   }
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   padding: 0;
}
#Layer1
{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
.LayoutGrid1-grid-a, .LayoutGrid1-grid-b, .LayoutGrid1-grid-c, .LayoutGrid1-grid-d, .LayoutGrid1-grid-solo
{
   overflow: hidden;
}
.LayoutGrid1-block-a, .LayoutGrid1-block-b, .LayoutGrid1-block-c, .LayoutGrid1-block-d, .LayoutGrid1-block-e
{
   margin: 0;
   padding: 0;
   border: 0;
   float: left;
   min-height: 1px;
   box-sizing: border-box;
}
.LayoutGrid1-block-a
{
   clear: left;
}
ul.LayoutGrid1-grid-a, ul.LayoutGrid1-grid-b, ul.LayoutGrid1-grid-c, ul.LayoutGrid1-grid-d, ul.LayoutGrid1-grid-solo, li.LayoutGrid1-block-a, li.LayoutGrid1-block-b, li.LayoutGrid1-block-c, li.LayoutGrid1-block-d, li.LayoutGrid1-block-e 
{
   margin-left: 0;
   margin-right: 0;
   padding: 0;
   list-style: none;
}
.LayoutGrid1-grid-a > .LayoutGrid1-block-a, .LayoutGrid1-grid-a > .LayoutGrid1-block-b
{
   width: 50%;
}
.LayoutGrid1-grid-b > .LayoutGrid1-block-a, .LayoutGrid1-grid-b > .LayoutGrid1-block-b, .LayoutGrid1-grid-b > .LayoutGrid1-block-c
{
   width: 33.333%;
}
.LayoutGrid1-grid-c > .LayoutGrid1-block-a, .LayoutGrid1-grid-c > .LayoutGrid1-block-b, .LayoutGrid1-grid-c > .LayoutGrid1-block-c, .LayoutGrid1-grid-c > .LayoutGrid1-block-d
{
   width: 25%;
}
.LayoutGrid1-grid-d > .LayoutGrid1-block-a, .LayoutGrid1-grid-d > .LayoutGrid1-block-b, .LayoutGrid1-grid-d > .LayoutGrid1-block-c, .LayoutGrid1-grid-d > .LayoutGrid1-block-d, .LayoutGrid1-grid-d > .LayoutGrid1-block-e
{
   width: 20%;
}
.LayoutGrid1-grid-solo > .LayoutGrid1-block-a
{
   width: 100%;
   float: none; 
}
.LayoutGrid1-block-a
{
   text-align: center;
}
.LayoutGrid1-block-b
{
   text-align: center;
}
@media (max-width: 320px)
{
   .LayoutGrid1-responsive > .LayoutGrid1-block-a,
   .LayoutGrid1-responsive > .LayoutGrid1-block-b,
   .LayoutGrid1-responsive > .LayoutGrid1-block-c,
   .LayoutGrid1-responsive > .LayoutGrid1-block-d,
   .LayoutGrid1-responsive > .LayoutGrid1-block-e 
   {
      width: 100%;
      float: none;
   }
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border-top-width: 15px;
   border-right-width: 22px;
   border-bottom-width: 22px;
   border-left-width: 15px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #FFFFFF;
   border-right-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
   border-left-color: #FFFFFF;
   border-image-source: url(images/rounded-white.png);
   border-image-slice: 15 22 22 15;
   border-image-width: 15px 22px 22px 15px;
   border-image-repeat: stretch;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 270px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border-top-width: 15px;
   border-right-width: 22px;
   border-bottom-width: 22px;
   border-left-width: 15px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #FFFFFF;
   border-right-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
   border-left-color: #FFFFFF;
   border-image-source: url(images/shadow-white.png);
   border-image-slice: 15 22 22 15;
   border-image-width: 15px 22px 22px 15px;
   border-image-repeat: stretch;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 314px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border-top-width: 15px;
   border-right-width: 22px;
   border-bottom-width: 22px;
   border-left-width: 15px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #FFFFFF;
   border-right-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
   border-left-color: #FFFFFF;
   border-image-source: url(images/shadow-white.png);
   border-image-slice: 15 22 22 15;
   border-image-width: 15px 22px 22px 15px;
   border-image-repeat: stretch;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 432px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image4
{
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border-top-width: 15px;
   border-right-width: 22px;
   border-bottom-width: 22px;
   border-left-width: 15px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #FFFFFF;
   border-right-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
   border-left-color: #FFFFFF;
   border-image-source: url(images/shadow-white.png);
   border-image-slice: 15 22 22 15;
   border-image-width: 15px 22px 22px 15px;
   border-image-repeat: stretch;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 599px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image5
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: scale-down;
}
